<div class="main-title">
  <% if @queries.present? %>
    <h1>Results for "<%= @queries.join(' ') %>"</h1>
  <% else %>
    <h1>All trips</h1>
  <% end %>
</div>

<% if @trips.any? %>
  <ul class="card-list">
    <% @trips.each do |trip| %>
      <li>
        <h3><%= trip.title %></h3>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="not-found">No trip found.</p>
<% end %>
