<div class="main-title">
  <% if @queries.present? %>
    <h1>Results for "<%= @queries.join(' ') %>"</h1>
  <% else %>
    <h1>All trips</h1>
  <% end %>
</div>

<div class="trips">
  <% if @trips.any? %>
    <ul class="trips__list bare-list">
      <% @trips.each do |trip| %>
        <%= render partial: 'trip_card', locals: { trip: trip } %>
      <% end %>
    </ul>

    <%= paginate @trips, window: 1 %>
  <% else %>
    <p class="not-found">No trip found.</p>
  <% end %>
</div>
