<div class="main-title">
  <h1><%= @trip.title %></h1>
</div>

<div class="media">
  <div class="image">
    <%= image_tag @trip.image_url %>
  </div>

  <div class="map">

  </div>
</div>

<div class="info">
  <p class="description">
    <%= @trip.description %>
  </p>
</div>

<%= render partial: 'comments/comments', locals: { article: @trip } %>
