<div class="main-title">
  <h1><%= @trip.title %></h1>
</div>

<div class="media">
  <div class="image">

  </div>

  <div class="map">

  </div>
</div>

<div class="info">
  <p class="description">
    <%= @trip.description %>
  </p>
</div>
