.envelope {
  margin: 0 auto;
  padding: 0 0 $margin-before-footer;
  max-width: 470px;
  
  h1 {
    @include desktop {
      font-size: 4em;
    }
  }

  .form {
    margin: 0;
    padding: 0;
  }

  .input-field {
    border: 1px solid $brown-4;
    box-shadow: none;

    &:hover, &:focus {
      border: 1px solid $brown-2;
    }
  }

  .btn {
    grid-column: span 6 / 8;
  }

  &__border {
    padding: $base-margin;
    box-shadow: 0 5px 10px 1px $brown-4;
    border-radius: 10px;
  }
}

