.global-footer {
  background: $black;
  color: $brown-4;
  padding: $base-margin * 2 0 $base-margin * 4;

  .content-wrapper {
    @include tablet {
      @include flex-list-horizontal-wrap;
    }
  }
  
  .logo {
    margin: 0 0 $base-margin;

    @include tablet {
      margin: 0 auto 0 0;
    }
  }

  .locales {
    @include tablet {
      margin: 0 $base-margin 0 0;
    }
  }

  .copyright {
    margin: 0;
    color: $brown-2;
  }
}
