.form {
  margin: 0 auto;
  padding: 0 0 $margin-before-footer;
  max-width: 80rem;

  .input-group, .draggable-field {
    margin: 0 0 $base-margin * 1.5;
  }

  @include tablet {
    padding: 0 $base-margin $margin-before-footer;
  }

  &__info {
    margin: 0 0 $base-margin * 2.5;
  }

  &__input {
    margin: 0 0 $base-margin * 2.5;
  }

  &__map {
    margin: 0 0 $base-margin * 2.5;
    width: 100%;
  }
}

.filter-search-form {
  &__title {
    margin: 0 0 $base-margin * 2;
  }
  
  .form {
    margin: 0 auto $base-margin * 5;
    padding: 0;
  }

  @include tablet {
    .form__input {
      @include flex;

      margin: 0 0 $base-margin;
    }

    .column {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(50% - 5px);
              flex: 1 0 calc(50% - 5px);

      &:first-child {
        margin: 0 10px 0 0;
      }
    }

    .input-group {
      display: block;
    }

    .input-group__row {
      .btn {
        white-space: normal;
      }
    }

    .prompt {
      display: block;
    }
  }
}
