.global-header {
  padding: $base-margin 0;
  background: $brown-4;
  margin: 0 0 $base-margin * 3;
  
  .content-wrapper {
    @include tablet {
      @include flex-list-horizontal-wrap;
    }
  }

  .logo {
    margin: 0 0 $base-margin;
    @include tablet {
      margin: 0 $base-margin 0 0;
    }
  }
  
  .search-box {
    margin: 0 0 $base-margin;
    max-width: 500px;
    @include tablet {
      margin: 0 0 0 auto;
    }
    @include desktop {
      -webkit-box-flex: 1;
              flex: 1 0 auto;
    }
  }

  .global-nav {
    @include tablet {
      margin: 0 0 0 $base-margin;
    }
  }
}
