.main-title {
  margin: 0 0 $base-margin * 3;
  border-bottom: 2px solid $green;

  .title {
    padding: $base-margin 0;

    p {
      margin: 0 0 $base-margin * 2;
    }

    &--with-button {
      position: relative;

      .btn {
        position: absolute;
        right: 0;
        bottom: $base-margin;
      }
    }
  }

  h1 {
    margin: 0;
  }
}
