.btn {
  font-size: 1.3rem;
  line-height: 1;
  background: -webkit-gradient(linear, left top, left bottom, from($white), to(lighten($brown-4, 10)));
  background: linear-gradient(to bottom, $white 0%, lighten($brown-4, 10) 100%);
  color: $black;

  padding: $base-margin * 0.75;
  margin: 0;

  border: 1px solid $brown-4;
  border-radius: 3px;

  box-sizing: border-box;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    background: -webkit-gradient(linear, left top, left bottom, from(lighten($brown-4, 10)), to($brown-4));
    background: linear-gradient(to bottom, lighten($brown-4, 10) 0%, $brown-4 100%);
    color: $green;
    
    .icon {
      fill: $green;
    }
  }

  .icon {
    margin: 0 5px 0 0;
  }
}

.btn.btn--primary {
  background: -webkit-gradient(linear, left top, left bottom, from(lighten($green, 10)), to($green));
  background: linear-gradient(to bottom, lighten($green, 10) 0%, $green 100%);
  color: $white;
  border: 1px solid $green;
  
  &:hover,
  &:active,
  &:focus {
    background: -webkit-gradient(linear, left top, left bottom, from($green), to(darken($green, 20)));
    background: linear-gradient(to bottom, $green 0%, darken($green, 20) 100%);
    border-color: darken($green, 20);
    color: $white;
    
    .icon {
      fill: $white;
    }
  }

  .icon {
    fill: $white;
  }
}

.btn.btn--secondary {
  background: -webkit-gradient(linear, left top, left bottom, from(lighten($red, 10)), to($red));
  background: linear-gradient(to bottom, lighten($red, 10) 0%, $red 100%);
  color: $white;
  border: 1px solid $red;

  &:hover,
  &:active,
  &:focus {
    background: -webkit-gradient(linear, left top, left bottom, from($red), to(darken($red, 10)));
    background: linear-gradient(to bottom, $red 0%, darken($red, 10) 100%);
    border-color: darken($red, 10);
    color: $white;

    .icon {
      fill: $white;
    }
  }
}

.btn--form {
  .btn {
    width: 100%;
  }
}

.btn--disabled {
  background: lighten($brown-4, 22);
  color: lighten($brown-4, 5);

  cursor: not-allowed;

  &:hover, &:focus,
  &:active {
    background: lighten($brown-4, 22);
    color: lighten($brown-4, 5);
  }
}
