.link {
  color: $green;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }

  &:active {
    color: $brown-1;
  }

  &--nav {
    color: $black;
    &:active {
      color: $green;
    }
  }

  &--subnav {
    &:hover, &:focus {
      color: $black;
      border-bottom: 2px solid $black;
    }

    &:active {
      color: $brown-2;
      border-bottom: 2px solid $brown-2;
    }
  }

  &--foot {
    color: $brown-3;
    &:hover {
      color: $green;
    }
    &:active {
      color: $brown-2;
    }
  }

  &--user {
    @include flex-item-center;
    
    span {
      margin: 0;
    }
    
    .avatar {
      display: inline;
      margin: 0 5px 0 0;
    }

    &.user-deleted {
      cursor: default;
      &:hover, &:focus, &:active {
        text-decoration: none;
        color: $green;
      }
    }
  }
}
