.link {
  color: $green;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }

  &:active {
    color: $brown-1;
  }

  &--nav {
    color: $black;
    &:active {
      color: $green;
    }
  }

  &--foot {
    color: $brown-3;
    &:hover {
      color: $green;
    }
    &:active {
      color: $brown-2;
    }
  }
}
