.list-color {
  color: $black;
  
  li {
    padding: $base-margin;
    border-bottom: 1px solid $brown-3;

    &:nth-child(2n+1) {
      background: lighten($green, 30);
    }
    
    &:nth-child(2n+0) {
      background: lighten($brown-4, 20);
    }
  }
}
