.logo {
  line-height: 1;
  a {
    text-decoration: none;
  }
  span {
    font-style: italic;
    font-weight: bolder;
    font-size: 3rem;
    color: $black;
    margin: 0;
  }
  em {
    font-style: normal;
    color: $green;
  }

  &--inverted {
    span {
      color: $brown-4;
    }
  }
}
