.tag {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  padding: .8em .5em .5em;
  color: $green;
  background: $brown-4;
  border: 2px solid $brown-1;
  border-radius: 2px;
}

.tags-list {
  @include flex-list-horizontal;
}
