.card {
  @include flex-column-content-stretch;
  
  box-shadow: 2px 2px 5px 3px $brown-4;
  overflow: hidden;
  border-radius: 4px;

  margin: 0 0 $base-margin * 2;
}

.card__thumb {
  display: block;
  position: relative;
  text-decoration: none;

  -webkit-box-flex: 1;
          flex: 1 0 auto;
}

.card__image {
  width: 100%;
  display: block;
}

.card__intro {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba($black, $alpha: .2);
  box-sizing: border-box;
  width: 100%;
  padding: $line-height * 1em;
  text-align: left;
}

.card__title {
  margin: 0;
  font-size: 2em;
  color: $white;
  text-shadow: 2px 2px 2px $black;
}

.card__subtitle {
  margin: 0;
  font-size: 1em;
  color: $white;
  text-shadow: 2px 2px 2px $black;
}

.card__info {
  @include flex-list-horizontal;

  margin: 0;
  font-size: 1em;
  color: lighten($green, 15);
  text-shadow: 1px 1px 1px $black;

  li:not(:last-child) {
    margin-right: $base-margin * .5;

    &::after {
      content: '';
      margin-left: $base-margin * .5;
      border-right: 2px solid $black;
    }
  }
}

.card__tags {
  position: absolute;
  top: 0;
  right: 0;
  margin: $base-margin $base-margin;

  .tag {
    color: $white;
    background: $green;
    border: 2px solid darken($green, 25);
  }
}

.card__footer {
  flex: 1 1 100%;
  .btn,
  .btn--form {
    margin: 0;
    -webkit-box-flex: 1;
            flex: 1 1 auto;

    .card:nth-last-child(n+2) {
      border-right: 1px solid $brown-3;
    }
  }
  
  .btn {
    @include flex-item-center-content-center;
    border-radius: 0;
    border: none;
  }

  .btn--secondary {
    background: -webkit-gradient(linear, left top, left bottom, from($white), to(lighten($brown-4, 10)));
    background: linear-gradient(to bottom, $white 0%, lighten($brown-4, 10) 100%);
    color: $black;
  }
}

.card--user {
  max-width: 340px;
  margin: 0 auto $base-margin * 2;
  
  .card__thumb {
    @include flex-column-content-stretch;
    
    padding: $base-margin * 2 0 0;
    background: -webkit-gradient(linear, left top, left bottom, from($white), color-stop(35%, $brown-4), color-stop(60%, $brown-3));
    background: linear-gradient(to bottom, $white 0%, $brown-4 35%, $brown-3 60%);
  }

  .card__avatar {
    margin: 0 $base-margin * 2 $base-margin * 2;
  }
  
  .card__image {
    height: auto;
    box-sizing: border-box;
    border: 3px solid $green;
  }
  
  .card__intro {
    position: static;
    background: $green;

    -webkit-box-flex: 1;
            flex: 1 0 auto;
  }

  .card__title {
    text-shadow: none;
  }

  .card__subtitle {
    margin: 0 0 5px;
    text-shadow: none;
  }

  .card__info {
    @include flex-list-horizontal-wrap;
    text-shadow: none;

    padding: 0 0 0 3px;
    color: $black;
    li:before {
      content: '\2022';
      padding: 10px 10px 10px 0;
    }
    li::after {
      display: none;
    }
  }
}
