.input-group {

  @include tablet {
    @include grid-8-flex;
    align-items: center;
  }

  .input-label {
    grid-column: span 2;
    text-align: left;

    @include tablet {
      margin: 0;
    }
  }

  .input-field,
  .input-file__container {
    grid-column: span 6;
  }

  .btn {
    box-shadow: 0 5px 10px 1px $brown-4;
  }

  &--textarea {
    align-items: start;
  }

  &__row {
    @include flex;
    
    grid-column: span 6;

    .input-field {
      margin: 0 5px 0 0;
      min-width: 160px;
    }

    .btn {
      white-space: nowrap;
    }
  }
}

.prompt {

  .link {
    grid-column: span 2;
    text-align: left;
    font-size: 1.5em;
  }
  
  .btn {
    width: 100%;
    grid-column: span 6;
  }
  
  @include tablet {
    @include grid-8-flex;

    .btn {
      grid-column: span 6 / 9;
    }
  }

  &--cancel {
    @include grid-8-flex;
    align-items: center;
  }
}

