.input-group {

  @include tablet {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }

  .input-label {
    grid-column: span 1;
    text-align: left;
  }

  .input-field,
  .input-file__container {
    grid-column: span 3;
  }

  .btn {
    box-shadow: 0 5px 10px 1px $brown-4;
  }

  &--textarea {
    align-items: start;
  }

  &__row {
    display: flex;
    grid-column: span 3;

    .input-field {
      margin: 0 5px 0 0;
      min-width: 160px;
    }

    .btn {
      white-space: nowrap;
    }
  }
}

.prompt {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  
  .link {
    grid-column: span 1;
    text-align: left;
    font-size: 1.5em;
    // margin: 0 $base-margin 0 0;
  }

  .btn {
    grid-column: span 3;
    // flex: 1 0 auto;
  }
}

