.search-box {
  .input-group {
    display: block;
    margin: 0;
  }
  
  .input-field {
    -webkit-box-flex: 0;
            flex: 0 1 auto;
    margin: 0;
    border-radius: 3px 0 0 3px;
    border: 1px solid $white;
    box-shadow: none;

    &:hover, &:focus {
      border: 1px solid $green;
    } 
  }
  
  .btn {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    border-radius: 0 3px 3px 0;
    box-shadow: none;
  } 
}
