<div class="main-title">
  <div class="title">
    <h1>All Users</h1>
  </div>
</div>

<div class="cards">
  <ul class="cards__list bare-list">
    <% @users.each do |user| %>
      <%= render partial: 'user_card', locals: { user: user } %>
    <% end %>
  </ul>

  <%= paginate @users, window: 1 %>
</div>
