.content-wrapper {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 1em;

  @include tablet {
    text-align: center;
  }
}

.bare-list {
  list-style-type: none;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.footer-to-bottom-container {
  position: relative;
  min-height: 100vh;
}

.footer-to-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
