@mixin flex-list-horizontal {
  display: flex;
  align-items: center;

  > li:not(:last-child) {
    margin: 0 $base-margin 0 0;
  }
}

 @mixin flex-list-horizontal-wrap {
  @include flex-list-horizontal;
  flex-wrap: wrap;
}

@mixin card-grid {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $base-margin * 2;
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}
