@mixin flex-list-horizontal {
  display: flex;
  align-items: center;

  > li:not(:last-child) {
    margin: 0 $base-margin 0 0;
  }
}

 @mixin flex-list-horizontal-wrap {
  @include flex-list-horizontal;
  flex-wrap: wrap;
}

@mixin grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $base-margin;
}

@mixin grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $base-margin;
}

@mixin grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $base-margin;
}
