@mixin flex {
  display: -webkit-box;
  display: flex;
}

@mixin flex-item-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

@mixin flex-content-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

@mixin flex-column-content-stretch {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}

@mixin flex-list-horizontal {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;

  > li:not(:last-child) {
    margin: 0 $base-margin 0 0;
  }
}

 @mixin flex-list-horizontal-wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;

  > li:not(:last-child) {
    margin: 0 $base-margin 0 0;
  }
}

@mixin card-grid {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $base-margin * 2;
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

@mixin grid-12-fixed {
  display: grid;
  grid-template-columns: repeat(12, 1 / 12 * 100%);
}

@mixin grid-8-flex {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

@mixin grid-4-flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@mixin grid-2-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
