// Palette
$black: #2B221D;
$brown-1: #775E51;
$brown-2: #937F73;
$brown-3: #AE9F96;
$brown-4: #C9BFB9;
$green: #75A46C;
$red: #D75B4D;
$white: #fff;

// General variables
$line-height: 1.6;
$base-margin: $line-height * 1rem;
