// Palette
$black: #2b221d;
$brown-1: #775e51;
$brown-2: #937f73;
$brown-3: #ae9f96;
$brown-4: #c9bfb9;
$green: #75a46c;
$red: #d24838;
$white: #fff;

// General variables
$line-height: 1.6;
$base-margin: $line-height * 1rem;
$margin-before-footer: calc(#{$base-margin} * 4 + 200px)
