<% content_for :banner, 'banner' %>
<% content_for :logo, 'logo--inverted' %>

<% content_for :header do %>
  <div class="content-wrapper">
    <div class="main-title">
      <div class="title">
        <h1><%= t('.title') %></h1>
      </div>
    </div>
  </div>
<% end %>

<div class="categories cards">
  <h2><%= t('.secondtitle') %></h2>
  <ul class="cards__list bare-list">
    <% %w(city road international relaxing cultural adventurous).each do |category| %>
      <%= render partial: 'category_card',locals: { category: category } %>
    <% end %>
  </ul>
</div>
