<div class="banner">
  <h1>If you don't know where to go for your next vacation, you found the right place!</h1>
</div>

<div class="categories-search">
  <h2>You know what you want to do? Then brows the suggested trips by categories.</h2>
  <ul class="categories-list">
    <li><a href="#">Relaxing</a></li>
    <li><a href="#">Cultural</a></li>
    <li><a href="#">Advanturous</a></li>
    <li><a href="#">City trip</a></li>
    <li><a href="#">Road trip</a></li>
    <li><a href="#">International trip</a></li>
  </ul>
</div>
