<div class="main-title">
  <div class="title">
    <p class="gamma">Stage <%= @stage.number %> of trip: <%= @trip.title %></p>
    <h1>Edit Stage</h1>
  </div>
</div>

<%= render partial: 'form', locals: { trip: @trip, stage: @stage } %>
