<div class="main-title">
  <div class="title">
    <h1>Your Trips</h1>
  </div>
  <%= render partial: 'sub_nav', locals: { current: 'trips' } %>
</div>

<div class="trips">
  <% if @trips.any? %>
    <ul class="trips__list bare-list">
      <% @trips.each do |trip| %>
        <%= render partial: 'owner_trip_card', locals: { trip: trip } %>
      <% end %>
    </ul>

    <%= paginate @trips, window: 1 %>
  <% else %>
    <p class="not-found">You did not created any trip yet.</p>
  <% end %>
</div>
