<nav class="global-nav">
  <ul class="bare-list">
    <li><%= link_to t('links.alltrips'), trips_path, class: 'link link--nav link--banner' %></li>
    <li><%= link_to t('links.login'), login_path, class: 'link link--nav link--banner' %></li>
    <li><%= link_to t('links.signup'), signup_path, class: 'link link--nav link--banner' %></li>
  </ul>
</nav>
