<% if model.errors.any? %>
  <div class="error" role="alert">
    <p><%= model.errors.count %> error/s prohibited this from being saved:</p>

    <ul>
    <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
