<% if model.errors.any? %>
  <div class="error" role="alert">
    <div class="error__box">
      <div class="error__content">
        <p class="error__title"><%= "#{pluralize(model.errors.count, t('errors.error'), locale: :en)} #{t('errors.header')}" %></p>
    
        <ul class="error__list">
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
